= render 'shared/error_messages', object: form.object

.fields-group
  = form.input :name,
               wrapper: :with_label

.fields-group
  = form.input :description,
               as: :text,
               input_html: { rows: 3 },
               wrapper: :with_label

.fields-group
  = form.input :mandatory_for_readers,
               as: :boolean,
               wrapper: :with_label

%hr.spacer/
